<p>{{receivedPartnerRequestMessage1}}</p>
<p>{{receivedPartnerRequestMessage2}}</p>

<p><a href="{{webappBaseUrl}}/partners/{{partnerUuid}}/requests/{{requirementUuid}}">{{reviewPartnerConnectionRequest}}</a></p>
