<div>{{passwordResetMessage1}}</div>
<a href="{{webappBaseUrl}}/auth/resetPassword/{{resetPasswordToken}}" target="_blank">{{webappBaseUrl}}/auth/resetPassword/{{resetPasswordToken}}</a>
{{#if includeDisclaimer}}
  </br>
  <div>{{passwordResetMessage2}}<div>
{{/if}}
